/* Reset de la mise en forme par défaut pour éviter les styles indésirables */
body, h1, h3, form, label, input, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    position: relative;

}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #555;
    margin-top: 10px;
    position: relative;

}

/* Style pour les boutons */
button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Style pour les champs de saisie de texte */
input[type="text"] {
    padding: 5px;
    width: 100px;
    margin-left: 5px;
}



