<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuration</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkbox.css')}}">

</head>
<body class="container">
        <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
              <a class="navbar-brand" href="/">Mon Site</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="#">Accueil</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/configuration">Configuration</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Help</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">À propos</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Contact</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
    </header>

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">MetricInsight configuration</h1>
            <hr class="my-4">
        </div>
    </div>

    <!-- Formulaire pour envoyer les données au serveur -->
    <form id="MonitoringForm" class="mt-4" action="/save_configuration" method="post">

        <div class="form-group">
            <h3>PID option :</h3>
            <div class="form-check">
                <input type="checkbox" id="pidCheckbox" name="pidCheckbox" class="form-check-input">
                <label for="pidCheckbox" class="form-check-label">Would you like to focus on a specific process?</label>
            </div>
            <div id="pid-additional-case" style="display: none;" class="mt-2">
                <div class="form-group">
                    <label for="PIDInput">Target PID number :</label>
                    <input type="text" name="PIDInput" id="PIDInput" class="form-control" placeholder="0">
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>Monitoring options :</h3>
            <div class="form-check">
                <input type="checkbox" id="cpuCheckbox" name="cpuCheckbox" class="form-check-input">
                <label for="cpuCheckbox" class="form-check-label">Observation of CPU</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="gpuCheckbox" name="gpuCheckbox" class="form-check-input">
                <label for="gpuCheckbox" class="form-check-label">Observation of the GPU</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="memoryCheckbox" name="memoryCheckbox" class="form-check-input">
                <label for="memoryCheckbox" class="form-check-label">Observation of the memory</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="powerCheckbox" name="powerCheckbox" class="form-check-input">
                <label for="powerCheckbox" class="form-check-label">Observation of the power</label>
            </div>
        </div>

        <div class="form-group">
            <h3>Advanced options :</h3>
            <div class="form-check">
                <input type="checkbox" id="freqCheckbox" name="freqCheckbox" class="form-check-input">
                <label for="freqCheckbox" class="form-check-label">Change the frequency value</label>
            </div>
            <div id="freq-additional-case" style="display: none;" class="mt-2">
                <div class="form-group">
                    <label for="FreqInput">New value of frequency:</label>
                    <input type="text" name="FreqInput" id="FreqInput" class="form-control" placeholder="0">
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" id="intervalCheckbox" name="intervalCheckbox" class="form-check-input">
                <label for="intervalCheckbox" class="form-check-label">Change the interval value</label>
            </div>
            <div id="inerval-additional-case" style="display: none;" class="mt-2">
                <div class="form-group">
                    <label for="IntervalInput">New value of interval:</label>
                    <input type="text" name="IntervalInput" id="IntervalInput" class="form-control" placeholder="0">
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" id="smoothingCheckbox" name="smoothingCheckbox" class="form-check-input">
                <label for="smoothingCheckbox" class="form-check-label">Change the smoothing value</label>
            </div>
            <div id="smoothing-additional-case" style="display: none;" class="mt-2">
                <div class="form-group">
                    <label for="SmoothingInput">New value of smoothing:</label>
                    <input type="text" name="SmoothingInput" id="SmoothingInput" class="form-control" placeholder="0">
                </div>
            </div>
        </div>

         <div class="form-group">
            <h3>Graphics options</h3>
            <div class="form-check">
                <input type="checkbox" id="plotCheckbox" name="plotCheckbox" class="form-check-input">
                <label for="plotCheckbox" class="form-check-label">Plot the result</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="saveCheckbox" name="saveCheckbox" class="form-check-input">
                <label for="saveCheckbox" class="form-check-label">Save the result on files</label>
            </div>
             <div id="save-additional-case" style="display: none;" class="mt-2">
             <div class="form-group">
                    <label for="SaveInput">Files name prefix :</label>
                    <input type="text" name="SaveInput" id="SaveInput" class="form-control" placeholder="0">
                </div>
            </div>
         </div>
        <div class="form-group">
            <h3>Debug option</h3>
            <div class="form-check">
                <input type="checkbox" id="verboseCheckbox" name="verboseCheckbox" class="form-check-input">
                <label for="verboseCheckbox" class="form-check-label">Plot the result</label>
            </div>
         </div>
        <button type="submit" class="btn btn-primary">Save this configuration</button>
    </form>

    <footer>
        <!-- Contenu de votre pied de page -->
        <p>&copy; 2023 Mon Site</p>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const pidCheckbox = document.getElementById('pidCheckbox');
            const additionalCase = document.getElementById('pid-additional-case');

            pidCheckbox.addEventListener('change', function () {
                additionalCase.style.display = pidCheckbox.checked ? 'block' : 'none';
            });

            const freqCheckbox = document.getElementById('freqCheckbox');
            const freqAdditionalCase = document.getElementById('freq-additional-case');

            freqCheckbox.addEventListener('change', function () {
                freqAdditionalCase.style.display = freqCheckbox.checked ? 'block' : 'none';
            });

            const intervalCheckbox = document.getElementById('intervalCheckbox');
            const intervalAdditionalCase = document.getElementById('inerval-additional-case');

            intervalCheckbox.addEventListener('change', function () {
                intervalAdditionalCase.style.display = intervalCheckbox.checked ? 'block' : 'none';
            });

            const smoothingCheckbox = document.getElementById('smoothingCheckbox');
            const smoothingAdditionalCase = document.getElementById('smoothing-additional-case');

            smoothingCheckbox.addEventListener('change', function () {
                smoothingAdditionalCase.style.display = smoothingCheckbox.checked ? 'block' : 'none';
            });

            const saveCheckbox = document.getElementById('saveCheckbox');
            const saveAdditionalCase = document.getElementById('save-additional-case');

            saveCheckbox.addEventListener('change', function () {
                saveAdditionalCase.style.display = saveCheckbox.checked ? 'block' : 'none';
            });

            document.getElementById('MonitoringForm').addEventListener('submit', function(event) {
                validateIntegerInput('PIDInput');
                validateIntegerInput('FreqInput');
                validateIntegerInput('IntervalInput');
                validateIntegerInput('SmoothingInput');
                validateStringInput('saveInput')
            });
        });

        function validateIntegerInput(inputId) {
            const input = document.getElementById(inputId);
            if (input && input.value.trim() !== '' && !/^\d+$/.test(input.value)) {
                alert('Please enter an integer value for ' + inputId);
                event.preventDefault(); // Prevent form submission
            }
        }
        function validateStringInput(inputId) {
            const input = document.getElementById(inputId);
            if (input && input.value && input.value.trim() === '') {
                alert('Please enter a non-empty string for ' + inputId);
                event.preventDefault(); // Prevent form submission
            }
        }

    </script>

</body>
</html>
